
body {
    margin-top: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: auto;
}

a {
    list-style: none;
}

.label {
    float:left;
    align-items: left;
}
header {
    height: 101px;
    background-color: #8D76CE;
}


.header-logo {
    font-size: 32px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: bold;
    color: #fff;
    margin-top: 30px;
    float: left;
    margin-left: 90px;

  }
  
.header-list a {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    float: right;
    padding-left:50px;
    padding-top: 0px;
    margin-right: 101px;
    font-size: 24px;
    color: #fff;
    margin-top: 30px;
}

.copy-container span{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: bold;
    color: #8D76CE;
    text-decoration: underline;
}
.copy-container h1{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 20px;
    padding-left: 69px;
    margin-top: 172px;
    padding-bottom: 20px;
}
.copy-container h2{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 20px;
    padding-left: 69px;
    margin-top: 15px;
}

.copy-container h3 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 30px;
    color:#7694CE;
    padding-top: 0px;
    padding-left: 75px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.contents{
    text-align:center ;
}
.contents p {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 40px;
    text-align: center;
    padding-top: 50px;    
}

.contents a {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    padding: 15px 25px;
    align-items: center;
    width: 15%;
}

.section-tittle a:hover {
    background: #8D76CE;
    color: white;
    border-color: #8D76CE;
    width: 600px;
    height: 70px;
    border-bottom: white;
    border-radius: 15px;
}

.lesson-wrapper{
    text-align: center ;
}
.lesson-wrapper p {
    width: 500x;
    height: 180x;
    padding-top: 100px;
    padding-bottom:28px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    float: center;
}

.lesson {
    width: 28%;
    float: left;
    position:relative;
    align-items: center;
    text-align:center ;
}

.lesson-item {
    float: left;
    height: 180px;
    width: 280px;
    margin-right: 69px;
    margin-left: 50px;
    padding: 40px;
}

.contact-form {
    padding-top: 400px;
    font-size: 24px;
    text-align: center;
    float:initial;
}


.form-input p {
    margin-left: 400px;
    font-size: 24px;
}
input {
    margin-left: 500px;
    width: 579px;
    height: 47px;
    border: 1px solid #8d76ce;
    border-radius: 10px;
}
textarea {
    margin-left: 500px;
    height: 150px;
    width: 579px;
    border: 1px solid #8d76ce;
    border-radius: 20px;
}

.contact-submit {
    background: #8D76CE;
    color: #E5E5E5;
    width: 579px;
    height: 64px;
    border-radius:20px;
    font-size: 32px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: bold;
    align-items: center;
    text-align: center;
    margin-top:38px;
    margin-bottom:215px;
    padding-bottom:15px;
    padding-right:55px;
}

.footer {
    background-color: #8D76CE;
    color: #fff;
    height: 200px;
    padding-bottom: 0px;
    margin-top: 150px;

  }
  
  .footer-logo {
    float: left;
    font-size: 32px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: bold;
    align-items: center;
    text-align: center;
    color: #fff;
    margin-left: 20px;
    margin-bottom: 25px;
    margin-top:30px;
  }
  
 .footer list {
    float:right;
 } 
  .footer-list a {
    float:right;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    text-align:right;
    color: #fff;
    font-size: 24px;
  }



 